@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Prima Sans";
  src: url("/fonts/Prima-Sans-Regular.woff2") format("woff2"),
    url("/fonts/Prima-Sans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Kalpurush";
  src: url("/fonts/Kalpurush.woff2") format("woff2"),
    url("/fonts/Kalpurush.woff") format("woff");
}

@font-face {
  font-family: "Prima Serif";
  src: url("/fonts/PrimaSerifBT-Roman.woff2") format("woff2"),
    url("/fonts/PrimaSerifBT-Roman.woff") format("woff");
}
@font-face {
  font-family: "SolaimanLipi";
  src: url("/fonts/SolaimanLipi.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/ARIAL.TTF") format("truetype");
}
@font-face {
  font-family: "Nikosh";
  src: url("/fonts/Nikosh.ttf") format("truetype");
}
@font-face {
  font-family: "Sans Serif Collection";
  src: url("/fonts/SansSerifCollection.ttf") format("truetype");
}
@font-face {
  font-family: "Shonar Bangla";
  src: url("/fonts/ShonarBanglaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "UntitledTTF2";
  src: url("/fonts/UntitledTTF_2.ttf") format("truetype");
}
@font-face {
  font-family: "UntitledTTF";
  src: url("/fonts/UntitledTTF.ttf") format("truetype");
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 2px;
}
